.stagePerson {
   align-items: center;

}

img {
 margin-left: auto;
 margin-right: auto;
}

.stageName {
    background-color: rgb(31, 31, 31);
    color: white;
    text-align: center;
    height: 80px;
    border-radius: 4px;
}

.stageImg {
    margin: 100px 0;
    border-radius: 50%;
    background-color: darkgray;
}